:host {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%
}

img {
    width: 60px;
    height: 60px;
}

form {
    display: flex;
    flex-direction: column;
     width: 80%;
}