.container {
    width: 1000px;
    height: 650px;
    backdrop-filter: blur(12px);
    box-shadow: 10px 10px 30px -3px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    display: flex;
}

.left-side {
    flex: 1.1;
    border-radius: 25px 0px 0px 25px;
}

.right-side {
    flex: 1.9;
    border-radius: 0px 25px 25px 0px ;
}